configparser
PyGithub
requests
numpy
pandas
jupyter
unittest2
tqdm
seaborn
matplotlib
xgboost
sklearn
lxml
django>=1.4,<1.8
python-social-auth
BeautifulSoup
dj-database-url
psycopg2
nltk
scipy
theanets
nose_parameterized
