configparser
PyGithub
requests
numpy
pandas
jupyter
unittest2
tqdm
seaborn
matplotlib
xgboost
scikit-learn==0.18.1
lxml
django>=1.4,<1.8
python-social-auth==0.2.21
BeautifulSoup
dj-database-url
psycopg2
nltk
scipy
theanets
tensorflow
nose_parameterized
gittle
binaryornot
